
<section class="mx-12 mt-12 ">
    <p class="text-7xl text-center font-extrabold textPoppins pt-12">Annual</p>
    <p class="text-5xl text-center textPoppins">Compliance</p>
    <div class="flex mt-24 textInter">
        <div class="h-32 w-1/2">
          <div class="flex"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">GST Return Filing</p> </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Income Tax Return Filing</p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">TDS Return Filing</p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Tax audit as required by Income tax act,1961</p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Preparation of Financial Statements
        </p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Income Tax Return Filing</p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Sale and purchase invoice documenation
        </p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl ">All business profits are income of a partnership firm and pay self-assessment tax on those profits
        </p>
          </div>
        </div>
        <div class="w-1/2">
            <img src="../public/images/exchange_sec6_leftIMG.svg" alt="sec7" class="h-[30rem] float-right">
        </div>
    </div>
 </section>
