<!--Home Page sec 9-->

<!--CLIENT -->


<section class="mx-12 mt-12">
    <p class="text-5xl font-extrabold textPoppins pt-12">Clients</p>
    <p class="text-[#444444] mt-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorem expedita perferendis?</p>

    <div class="flex mt-8">
        <img src="../public/images/Home_Sec10_Sanovi.svg" alt="" class="h-16">
        <img src="../public/images/Home_Sec10_Happiness.svg" alt="" class="h-16 mx-4">
        
        <img src="../public/images/Home_Sec10_Tie.svg" alt="" class="h-16 mx-4">
        <img src="../public/images/Home_Sec10_Orbital.svg" alt="" class="h-16 mx-4">
        
        <img src="../public/images/Home_Sec10_Jio.svg" alt="" class="h-16 mx-4">
        
    </div>
</section>
 