<!--Home Page sec 11-->

<!--CONTACT FORM-->

<section class="bg-[#F6F5EF] mt-12">
    <p class="text-5xl text-center font-extrabold textPoppins pt-12">Contact</p>
    <p class="text-3xl text-center textInter">Information</p>

    <div class="flex">
      <div class="w-full mt-12 md:text-left lg:w-1/2 lg:mx-4 md:mt-0 sm:mt-0">
          <div class="h-auto space-y-2 lg:mx-12 pt-4 mx-4 rounded-lg px-4 ">
            <form class="space-y-6" action="#" method="post">
              <div>
             
            <input
              type="name"
              name="fname"
              placeholder="Name"
              class="bg-white border-2 text-black text-sm rounded-full block w-full p-2.5 -mb-2 mt-12"
              required
            />
          </div>
         
          <div>
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="bg-white border-2 text-black text-sm rounded-full block w-full -mb-2 p-2.5"
              required
            />
          </div>

          <div>
            <div class="flex gap-3">
              <div class="col-span-10 w-full">
                <input
                  type="tel"
                  name="phone"
                  placeholder="Contact Number"
                  class="bg-white border-2 text-black text-sm rounded-full block w-full -mb-2 p-2.5"
                  required
                />
              </div>
            </div>
          </div>
          <div>
            
            <textarea rows="4" cols="50" placeholder="Message" class="bg-white border-2 text-sm text-[#AAAAAA] rounded-xl block w-full h-28 -mb-2 p-2.5" form="usrform">
            Message
            </textarea>
          </div>

          
          <div>
            <button
              class="bg-[#3C3C3C] text-white hover:bg-black hover:text-white hover:px-8 font-semibold text-lg py-2 px-4 rounded-full flex"
              type="submit"
            >
              Send <img src="../public/images/home_sendArrow.svg" alt="arrow" class="mx-2 pt-[0.2rem]">
            </button>
          </div>
          <br />
        </form>
      </div>
        </div>
  
      
        <div class="w-1/2 pt-12 px-24">
            <p class="text-lg text-[##444444] mt-8">We are committed to protect Your personal information 
                collected and processed by Us and look forward to 
                Your continued support for the same. In case of any 
                feedback or concern regarding protection of Your 
                personal information, or any privacy-related feedback 
                or concerns you may <br>
                write to Us at legal <a  class="underline text-[#E7AE00]"> support@npa2pa.com</a> </p>
        </div>
    </div>
</section>
