
<!-- document to be uploaded -->
<section class="mx-12 mt-12">
    <p class="text-7xl text-center font-extrabold textPoppins pt-12 textPoppins">Documents to be</p>
    <p class="text-5xl text-center textPoppins">Uploaded</p>
    <div class="flex mt-24 textInter">
        <div class="h-32 w-1/2">
          <div class="flex"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">PAN Copy</p> </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Aadhaar Copy/Voter's ID/Passport/Driver's License
        </p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Rental Agreement</p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Sale Deed Agreement</p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Passport Photo                </p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Electricity Bill Latest</p>
          </div>
          <div class="flex mt-4"> <img src="../public/images/exchange_sec6_icon.svg" alt="" class="mx-4"> <p class="text-2xl">Other Document                </p>
          </div>
         
        </div>
        <div class="w-1/2">
            <img src="../public/images/exchange_sec8_leftIMG.svg" alt="sec7" class="h-[30rem] float-right">
        </div>
    </div>
 </section>
