
<!--FAQ-->

<style>
    .accordion__header {
        padding: 1em;
        display: flex;
      /*  justify-content: space-between; */
        align-items: center;
        cursor: pointer;
      }
      .accordion__header > * {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
      }
      .accordion__header.is-active {
        color: black;
      }
      
      .accordion__toggle {
        content: "+";
        color:black;
        margin-left: 10px;
        font-size: 22px;
        font-weight: bolder;
        display: block;
        position: relative;
        flex-shrink: 1;
        border-radius: 2px;
      }
      
      .accordion__toggle::before {
        content: "+";
        width: 3px;
        height: 13px;
        display: block;
        /* background-color: #222; */
        position: absolute;
        top: -5px;
        left: 5px;
        border-radius: 2px;
      }
      
      .is-active {
        border: none;
      }
      
      .is-active .accordion__toggle {
        background-color:black;
        margin-top: 2rem;
      }
      .is-active .accordion__toggle::before {
        display: none;
      }
      .accordion__body {
        display: none;
        padding: 1em;
      
          border-left: 0px;
          border-right: 0px;
        border-top: 0;
      }
      .accordion__body.is-active {
        display: block;
      }
</style>

<section class="mt-12 h-auto pb-8 bg-[#F6F5EF] mb-16">
    <p class="text-7xl  font-extrabold textPoppins pt-12 textPoppins mx-12">Frequently Asked</p>
    <p class="text-5xl mx-12 textPoppins">Questions</p>
    <div class="flex mt-8 textInter">
      <div class="h-32 w-[80%]">
        <section class="lg:flex flex-row mx-8 mt-8 text-k2d">
            <div class="container">
              <div class="accordion">
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold pt-[1.5rem] ml-[2rem]">
                    Who can form a Sole Prorietorship firm?
                                        </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    An Indian National with a current bank account on a business name
is eligible for forming a sole proprietorship Firm. Generally, banks 
ask a customer for a Shops and Establishments license prior to 
opening a current bank account.
                  </p>
                </div>
                <!--1 st end-->
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold pt-[1.5rem] ml-[2rem]">
                    What kind of liability does a sole proprietor have?
                  </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    M quickly assesses your financial information to determine
                    eligibility and can facilitate a rapid pre-approval process,
                    guiding you efficiently towards your goal of homeownership.
                  </p>
                </div>
                <!--2nnd end-->
              
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold pt-[1.5rem] ml-[2rem]">
                    Does a sole proprietor have any mandatory registration requirement?
                  </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    M quickly assesses your financial information to determine
                    eligibility and can facilitate a rapid pre-approval process,
                    guiding you efficiently towards your goal of homeownership.
                  </p>
                </div>
                <!--3rd end-->
    
                
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold pt-[1.5rem] ml-[2rem]">
                    Can Sole proprietor be converted to other forms of business?
                  </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    M  quickly assesses your financial information to determine
                    eligibility and can facilitate a rapid pre-approval process,
                    guiding you efficiently towards your goal of homeownership.
                  </p>
                </div>
                <!--4th end-->
    
                  <!--1 st end-->
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold pt-[1.5rem] ml-[2rem]">
                    How Income is taxed under sole proprietorship?
                  </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    M quickly assesses your financial information to determine
                    eligibility and can facilitate a rapid pre-approval process,
                    guiding you efficiently towards your goal of homeownership.
                  </p>
                </div>
                <!--5th end-->
                  <!--1 st end-->
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold  pt-[1.5rem] ml-[2rem]">
                    How many people are require to start sole proprietorship?
                  </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    M quickly assesses your financial information to determine
                    eligibility and can facilitate a rapid pre-approval process,
                    guiding you efficiently towards your goal of homeownership.
                  </p>
                </div>
                <!--6th end-->
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold pt-[1.5rem] ml-[2rem]">
                    Is Audit require for sole propritorship?                     </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    M quickly assesses your financial information to determine
                    eligibility and can facilitate a rapid pre-approval process,
                    guiding you efficiently towards your goal of homeownership.
                  </p>
                </div>
                <!--7th end-->
                <div
                  class="accordion__header is-activ mx-4  -mb-8"
                 >
                 <span
                 class="accordion__toggle h-[3px] lg:w-[18px] md:w-[22px] sm:w-[14px] w-[27px]"
               ></span>
                  <h2 class="text-sm lg:text-lg font-bold pt-[1.5rem] ml-[2rem]">
                    Can I convert sole proprietorship into firm, Pvt Ltd, LLP?
                   </h2>
                
                </div>
                <div
                  class="accordion__body is-activ mx-4 "
                >
                  <p class="px-[3.7rem]">
                    M quickly assesses your financial information to determine
                    eligibility and can facilitate a rapid pre-approval process,
                    guiding you efficiently towards your goal of homeownership.
                  </p>
                </div>
                <!--8th end-->

              </div>
            </div>
            <!--accodion div close-->
        </section>
      </div>
        <div class="w-[20%]">
            <img src="/../public/images/exchange_sec10_leftIMG.svg" alt="sec7" class="h-[30rem] float">
        </div>
    </div>
 </section>

 <script>
    // Accordion
    $(".accordion__header").click(function (e) {
      e.preventDefault();
      var currentIsActive = $(this).hasClass("is-active");
      $(this).parent(".accordion").find("> *").removeClass("is-active");
      if (currentIsActive != 1) {
        $(this).addClass("is-active");
        $(this).next(".accordion__body").addClass("is-active");
      }
    });
  </script>