<!--FOOTER-->


<footer class="bg-[#2E2E2E] text-white footer-home lg:block md:block " id="footer-blur" >
    <div class="flex justify-between h-auto">
      <div class="flex flex-col w-[35%] ">
       
        <ul class="text-[#b8b8b8] text-sm space-y-2 pl-16 pt-0 pr-16 leading-[200%]">
          <img src="../public/images/logo.svg" class="pt-12 h-36">
          <li><a >NPA2PA supports busy Entrepreneurs 
            to handle their messy Startup Legalities and 
            documentation, so that they worry less and 
            focus more on their dream business.
            </a></li>
           
        </ul>
           <div class="text-[#b8b8b8]  space-y-2 pl-16 pt-12 pr-16 leading-8xl">
            <div class="flex pt-2">
              <img src="../public/images/footer_logo_fb.svg" alt="logo" class="h-6  px-2">
              <img src="../public/images/footer_logo_ig.svg" alt="logo" class="h-6  px-2">
              <img src="../public/images/footer_logo_linkdln.svg" alt="logo" class="h-6  px-2">
            </div>
             <p class="pt-2 text-[#707070]">About Company</p>
             <ul class="text-[#80DED9] my-4 space-y-2">
               <li><a href="/careers">About Us</a></li>
               <li><a href="/contact">Privacy-Policy</a></li>
               <li><a href="/services">Terms & Condiion</a></li>
             </ul>
              </div>
      </div>
  
      <div class="flex flex-col w-[30%] p-16">
        <p class="text-[#707070]">Property</p>
        <ul class="text-[#80DED9] my-4 space-y-2">
          <li><a href="/">Exchange Land </a></li>
          <li><a href="/about">Disputed Property </a></li>
          <li><a href="/blogs">NPA2PA</a></li>
          <li><a href="/careers">Lorem ipsum</a></li>
          <li><a href="/contact">Lorem ipsum</a></li>
          <li><a href="/services">Lorem ipsum</a></li>
        </ul>
        <p class="pt-12 text-[#707070]">Case Studies</p>
        <ul class="text-[#80DED9] my-4 space-y-2">
          <li><a href="/careers">Lorem ipsum</a></li>
          <li><a href="/contact">Lorem ipsum</a></li>
          <li><a href="/services">Lorem ipsum</a></li>
        </ul>
      </div>
  
     
      <div class="flex flex-col w-[30%] p-16 ">
        <p class="text-[#707070]">News</p>
        <ul class="text-[#80DED9] my-4 space-y-2">
          <li><a href="/">Lorem ipsum</a></li>
          <li><a href="/about">Lorem ipsum </a></li>
          <li><a href="/blogs">Lorem ipsum</a></li>
          <li><a href="/careers">Lorem ipsum</a></li>
          <li><a href="/contact">Lorem ipsum</a></li>
          <li><a href="/services">Lorem ipsum</a></li>
        </ul>
        <p class="text-[#707070] pt-12">Download our App</p>
          <div class="flex">
            <img src="../public/images/footer_dwld ios.svg" alt="" class="w-36">
            <img src="../public/images/footer_dwldApple.svg" alt="" class="w-36">
          </div>
      </div>
    </div>
  
    <div class="p-5 flex  items-center bg-[#343434]">
     
      <p class="text-md text-center mx-auto text-[#828282]">2016-2022 NPA2PA Pvt Ltd | All Rights Reserved.</p>
      
    </div>
  </footer>
   
  