
<!--Home page section 5 -->
<!--How it works-->

<section class="bg-[#F6F5EF] mt-12 h-full pb-24">
    <p class="text-5xl text-center font-extrabold textPoppins pt-12">How it</p>
    <p class="text-3xl text-center textInter">Works</p>
    <!---carousel-->
    <div class="slideshow-container flex mt-12">

      <div class="mt-32">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>


      <div class="mySlides fade">
        <div class="flex">
          <div class="w-1/2"><img src="../public/images/home_sec5_HowItWoks.svg" alt="" class="h-96 px-12"></div>
          <div class="w-1/2 pt-16 pl-32 pr-12">
              <p class="text-4xl">Register</p>
              <p class="text-lg text-[#8A8A8A] mt-8">Simply fill the above form to get started.

              </p>
          </div>
      </div>

      </div>
      
      <div class="mySlides fade">
        <div class="flex">
          <div class="w-1/2"><img src="../public/images/home_sec5_HowItWoks.svg" alt="" class="h-96 px-12"></div>
          <div class="w-1/2 pt-24 pl-32 pr-12">
              <p class="text-4xl">Make Payment</p>
              <p class="text-lg text-[#8A8A8A] mt-8">Lorem ipsum dolor sit amet, consec 
                  adipiscing elit. Fusce finibus enim Lorem 
                  ipsum dolor sit amet, consec adipiscing elit. 
                  Fusce finibus enim </p>
          </div>
        </div>
      </div>
      <div class="mySlides fade">
        <div class="flex">
          <div class="w-1/2"><img src="../public/images/home_sec5_HowItWoks.svg" alt="" class="h-96 px-12"></div>
          <div class="w-1/2 pt-24 pl-32 pr-12">
              <p class="text-4xl"> Our Expert Will Start Process</p>
              <p class="text-lg text-[#8A8A8A] mt-8">Lorem ipsum dolor sit amet, consec 
                  adipiscing elit. Fusce finibus enim Lorem 
                  ipsum dolor sit amet, consec adipiscing elit. 
                  Fusce finibus enim </p>
          </div>
        </div>
      </div>

     
      </div>
</section>