
<!--Home page section 2 -->

<section class="bg-[#F6F5EF] h-28">
    <div class="text-2xl py-8 text-center textInter">
        <p>Become a Partner/Associate with us? <b class="underline">Join Now</b></p>        
    </div>
</section>