

   <!--Section 6 Key Reg-->
   <section class="mx-12 mt-12 textInter bg-[#F6F5EF]">
    <p class="text-7xl text-center font-extrabold textPoppins pt-12">Key</p>
    <p class="text-5xl text-center textInter">Registration</p>
     
    <div class="flex mt-24">
        <div class="w-1/2">
            <div class="flex mx-4">
              <img src="../public/images/exchange_sec6_icon.svg" alt="" class="">
              <p class="mx-4 text-2xl font-semibold">MSME registration</p>
            </div>
            <p class="px-[5.5rem] text-[#444444]">MSME or Udyog Aadhaar registration to be obtained in the name of business to establish that partnership firm is registered with the Ministry of Micro, Small and Medium Enterprises.</p>
        </div>
        <div class="w-1/2">
            <div class="flex">
                <img src="../public/images/exchange_sec6_icon.svg" alt="">
                <p class="mx-4 text-2xl font-semibold">Import Export code</p>
              </div>
              <p class="pl-[4.8rem] pr-8 text-[#444444]">Import Export Code or IE code is obtained from the DGFT in case Pvt Ltd firm business do export /import of from India.</p>
        </div>
    </div>
        <!--card 2-->
        <div class="flex mt-12">
            <div class="w-1/2">
                <div class="flex mx-4">
                  <img src="../public/images/exchange_sec6_icon.svg" alt="">
                  <p class="mx-4 text-2xl font-semibold">TAN registration</p>
                </div>
                <p class="px-[5.5rem] text-[#444444]">TAN registration must be obtained for Pvt Ltd firm from income tax department if the partnership firm is required to deduct any TDS while making any payments as per Income Tax Act 1961.</p>
            </div>
            <div class="w-1/2">
                <div class="flex">
                    <img src="../public/images/exchange_sec6_icon.svg" alt="">
                    <p class="mx-4 text-2xl font-semibold">FSSAI registration</p>
                  </div>
                  <p class="px-[4.8rem] text-[#444444]">In case partnership firm involved in selling of food products or handling of food products, FSSAI registration must be obtained from Food Safety and Standard Authority of India in the name of Pvt Ltd firm.</p>
            </div>
        </div>
        
      <!---Card 3-->  
      <div class="flex mt-12">
        <div class="w-1/2">
            <div class="flex mx-4">
              <img src="../public/images/exchange_sec6_icon.svg" alt="">
              <p class="mx-4 text-2xl font-semibold">GST registration</p>
            </div>
            <p class="px-[5.5rem] text-[#444444]">GST registration must be obtained if Pvt Ltd firm is selling goods or services that cross GST turnover threshold limit for registration. In most states, GST registration is required for service providers having annual revenue of more than Rs 20 lakhs and in case of traders-annual revenue of more than Rs. 40 lakhs.</p>
        </div>
        <div class="w-1/2">
            <div class="flex">
                <img src="../public/images/exchange_sec6_icon.svg" alt="">
                <p class="mx-4 text-2xl font-semibold">Current account</p>
              </div>
              <p class="px-[4.8rem] text-[#444444]">A current account can be opened for partnership firm in any banks in India. We offers exclusive partnerships through which zero-balance current accounts can be opened.</p>
        </div>
    </div>
    <!---Card 4-->
    <div class="flex mt-12">
        <div class="w-1/2">
            <div class="flex mx-4">
              <img src="../public/images/exchange_sec6_icon.svg" alt="">
              <p class="mx-4 text-2xl font-semibold">Shop & Establishment License</p>
            </div>
            <p class="px-[5.5rem] text-[#444444]">We will register for Shop & Establishment license if needed as per the criteria.</p>
        </div>
        
    </div>

</section>
