<!--Home Page sec 9-->

<!--PARTNER-->


<section class="mx-12">
    <p class="text-5xl font-extrabold textPoppins pt-12">Partners</p>
    <p class="text-[#444444] mt-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorem expedita perferendis?</p>

    <div class="flex mt-8">
        <img src="../public/images/Home_Sec9_Google.svg" alt="" class="h-16">
        <img src="../public/images/Home_Sec9_Microsoft.svg" alt="" class="h-16 mx-4">
        
        <img src="../public/images/Home_Sec9_IBM.svg" alt="" class="h-16 mx-4">
        <img src="../public/images/Home_Sec9_HP.svg" alt="" class="h-16 mx-4">
        
        <img src="../public/images/Home_Sec9_AWS.svg" alt="" class="h-16 mx-4">
        <img src="../public/images/Home_Sec9_v.svg" alt="" class="h-8 mx-4">
    </div>
</section>
