<!--HOME SECtion-3  Popular-->

<section class="mt-8">
    <p class="text-5xl text-center font-extrabold textPoppins">Popular</p>
    <p class="text-3xl text-center textInter">Services</p>

    <div class="flex mx-12 mt-16 textInter">
        <div class="w-1/4 h-auto bg-white shadow-2xl rounded-2xl mr-4 pb-4">
            <img src="../public/images/home_sec3_card1.svg" alt="" class="mx-auto h-32">
            <p class="text-2xl text-center">Exchange Land</p>
            <p class="text-center mx-4 text-md mt-2">Lorem ipsum dolor sit amet, consec 
                adipiscing elit. Fusce finibus enim
            </p>
           <div class="text-center  mt-2">
            <a href="" class="text-[#C89C18] underline">Learn More</a>
          </div>
        </div>
        <div class="w-1/4 h-auto bg-white shadow-2xl rounded-2xl mx-4 pb-4">
            <img src="../public/images/home_sec3_card2.svg" alt="" class="mx-auto h-32">
            <p class="text-2xl text-center">Disputed Property</p>
            <p class="text-center mx-4 text-md mt-2">Lorem ipsum dolor sit amet, consec 
                adipiscing elit. Fusce finibus enim
            </p>
            <div class="text-center  mt-2">
                <a href="" class="text-[#C89C18] underline">Learn More</a>
              </div>
        </div>
        <div class="w-1/4 h-auto bg-white shadow-2xl rounded-2xl mx-4 pb-4">
            <img src="../public/images/home_sec3_card3.svg" alt="" class="mx-auto h-32">
            <p class="text-2xl text-center">Trouble Sites</p>
            <p class="text-center mx-4 text-md mt-2">Lorem ipsum dolor sit amet, consec 
                adipiscing elit. Fusce finibus enim
            </p>
            <div class="text-center  mt-2">
                <a href="" class="text-[#C89C18] underline">Learn More</a>
              </div>
        </div>
        <div class="w-1/4 h-auto bg-white shadow-2xl rounded-2xl mx-4 pb-4">
            <img src="../public/images/home_sec3_card2.svg" alt="" class="mx-auto h-32">
            <p class="text-2xl text-center">NPA2PA</p>
            <p class="text-center mx-4 text-md mt-2">Lorem ipsum dolor sit amet, consec 
                adipiscing elit. Fusce finibus enim
            </p>
            <div class="text-center mt-2">
                <a href="" class="text-[#C89C18] underline">Learn More</a>
              </div>
        </div>
    </div>
</section>
