<!--Home Page sec 8-->
<!--Review -->

<section class="mt-16">
    <div id="showCard16Crousel" class="carousel-container mx-12">
       <div class="flex">
          <p class=" text-5xl font-extrabold">Client</p> <p class="text-black text-5xl font-extrabold">&nbsp; Reviews</p>
          <div class="float-right mt-2 lg:pl-[48rem]">
            <button class="prev-button hover:bg-[#80DED9] hover:rounded-full" onclick="changeSlide(-1)"><img src="../public/images/left-arrow.svg" class=" h-7 w-7 " alt="" /></button>
             <button class="next-button hover:bg-[#80DED9] hover:rounded-full" onclick="changeSlide(1)"><img src="../public/images/right_arrow.svg" class=" h-7 w-7" alt="" /> </button>
          </div>
       </div>
      
        <div class="associationSectionCarousel" id="associationSectionCarousel">
          <div class="carousel-item"> 
            <div class=" w-full">
              <div class="flex">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
              </div>
            </div> 
         </div>
         <div class="carousel-item"> 
            <div class=" w-full">
              <div class="flex">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
              </div>
            </div> 
         </div>
         <div class="carousel-item"> 
            <div class=" w-full">
              <div class="flex">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
                <img src="../public/images/Item.svg" alt="profile" class="mx-4">
              </div>
            </div> 
         </div>
        </div>
       
      </div>
    </section>  
    