<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- tailwind CDN -->
      <script src="https://cdn.tailwindcss.com"></script>
      
</head>
<body>
    <!--POP--up-->
    <section class="mt-28">
        <div class="h-72 w-[50%] bg-slate-100 rounded-2xl mx-auto">
         <div class="pt-4">
          <div class="bg-[#FF6969] h-16 w-16 rounded-full mx-auto text-white">
            <p class="text-center text-5xl">x</p>
          </div>
         </div> 
            <p class="text-3xl text-center mt-8">Something went wrong.. Try Again..</p>
            <div class="flex items-center mt-8">
              <button type="submit"
               class="bg-[#1E1E1E] w-32 h-[3rem] text-white rounded-full mt-5 focus:outline-none mx-auto">
                OK
              </button>
            </div>
        </div>
    </section>

    <!---sucesss -->
    <section class="mt-28">
        <div class="h-72 w-[50%] bg-slate-100 rounded-2xl mx-auto">
         <div class="pt-4">
          <div class="bg-[#67CC83] h-16 w-16 rounded-full mx-auto text-white">
            <p class="text-center text-5xl text-white">✓ </p>
          </div>
         </div> 
            <p class="text-3xl text-center mt-8">Your Appointment has been placed Successfully.</p>
            <div class="flex items-center mt-8">
              <button type="submit"
               class="bg-[#1E1E1E] w-32 h-[3rem] text-white rounded-full mt-5 focus:outline-none mx-auto">
                OK
              </button>
            </div>
        </div>
    </section>

    
    <!--- popup for plan -->
    <section class="mt-28">
      <div class="h-72 w-[50%] bg-slate-100 rounded-2xl mx-auto">
       <div class="pt-4">
        
       </div> 
          <p class="text-3xl text-center mt-16">Are you sure want to add this plan?</p>
          <div class="flex items-center mt-24">
            <div class="bg-[#67CC83] h-16 w-16 rounded-full mx-auto text-white cursor-pointer">
              <p class="text-center text-5xl text-white">✓ </p>
            </div>
            <div class="bg-[#FF6969] h-16 w-16 rounded-full mx-auto text-white cursor-pointer">
              <p class="text-center text-5xl">x</p>
            </div>
          </div>
      </div>
  </section>
  
  <!--table popup-->
  <section class="mt-28 textInter">
    <div class="h-84 w-[50%] bg-slate-100 rounded-2xl mx-auto">
      <p class="float-right px-4 mb-8 text-2xl">X</p>
     <div class="mt-12">
      <table class="table-auto mx-auto text-2xl mt-8">
        <thead>
          <tr class="rounded-lg h-16 ">
            <td class="lg:px-4">Subtotal &emsp;&emsp;</td>
            <td class="lg:px-4"> ₹81,000/-</td>
          </tr>
        </thead>
        <tbody>
          <tr class="h-16 tablerow2">
            <td class="lg:px-4">Tax</td>
            <td class="text-end lg:px-4"> ₹81,000/-</td>
          </tr>
          <tfoot>
          <tr class="h-16 tablerow3">
            <td class="lg:px-4">Total</td>
            <td class="text-end lg:px-4"> ₹81,000/</td>
          </tr>
        </tfoot>
        </tbody>
      </table>
      <p class="text-3xl text-center mt-8 font-extrabold textInter">Are you ok with this?</p>
      <div class="flex items-center mt-8">
        <button type="submit"
         class="bg-[#4ECB71] w-32 h-[3rem] text-white rounded-full mt-2 focus:outline-none mx-auto">
          Yes
        </button>
        <button type="submit"
         class="bg-[#FC1919] w-32 h-[3rem] text-white rounded-full mt-2 focus:outline-none mx-auto">
          No
        </button>
      </div>
    </div>
    </div>
</section>

</body>
</html>